.col-sm-3 {
  border-radius: 15px;
  border: solid 1px gainsboro;
}

.person-name {
  margin-top: 10px;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.person-name:hover {
  cursor: pointer;
}

li {
  font-size: 0.8em;
}

form {
  margin-bottom: 30px;
}

nav {
  background-color: blueviolet;
  margin-top: 5px;
  color: #fff;
  border-radius: 10px;
}

.nav-link {
  color: #fff !important;
  font-size: 1.5em !important;
}

.nav-link:hover {
  cursor: pointer;
}

.active {
  font-weight: bold;
}
